init.author.name=Anthony Bruno
init.author.email=anthony.bruno196@gmail.com
init.author.url=http://anthonybruno.com.au/
init.license=MIT
init.version=0.0.1
//registry.npmjs.org/:_authToken=f72344e3-5f88-471c-b9ee-51b77acbf110
